body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
    color: #222222;
}

.heading {
    content: '';
    display: table;
    width: 100%;
    clear: both;
}

div {
    box-sizing: border-box;
}


header {
    background: url(./img/bg.png) no-repeat center top / cover;
    padding-bottom: 160px;

}


#topBtn {
  position: fixed;
  bottom: 40px;
  right: 40px;
  font-size: 22px;
  width: 50px;
  height: 50px;
  background: #fed136;
  color: white;
  border: none;
  cursor: pointer;
  display: none;
}

.container {
    width: 935px;
    margin: 0 auto;
}

.logo1 {
    float: left;
    margin-top: 37px;
}

nav {
    float: right;
    margin-top: 45px;
}

.link-hover-center a {
    display: inline-block;
    color: #fed136;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}
.link-hover-center a:after {
    display: block;
    content: "";
    background-color: #fed136;
    height: 3px;
    width: 0%;
    left: 50%;
    position: absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}

.link-hover-center a:hover:after {
    width: 100%;
}

.menu {
    padding: 0;
    margin: 0;
    display: block;
}

    .menu li {
        float: left;
        display: block;
        margin-right: 41px;
    }

        .menu li a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 14px
        }

.titles_first {
    font-size: 40px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-top: 180px;
}

h1 {
    font-size: 75px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin: 15px;
}

.button {
    background: #fed136;
    color: #484543;
    border-radius: 8px;
    display: block;
    width: 240px;
    padding: 20px 0;
    margin: 0 auto;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
    transition: all 400ms ease-in-out;
}

.catside a:hover {
    background-color: #f5c318;
    
}
     


.title {
    padding-top: 115px;
}


    .title h2 {
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        margin: 0;
    }

    .title p {
        color: #777777;
        text-align: center;
        font-size: 16px;
        margin-top: 5px;
    }

.services {
    margin-top: 80px;
}

.services_item {
    width: 270px;
    float: left;
    text-align: center;
}

    .services_item h3 {
        font-size: 18px;
        margin-bottom: 5px;
    }

    .services_item p {
        color: #777777;
        font-size: 14px;
        line-height: 1.55em;
    }

    .services_item:last-child {
        float: right;
    }

    .services_item:nth-child(2) {
        margin-left: 60px;
    }

#services{
    padding-bottom: 280px;
}

#portfolio {
    background: #f7f7f7;
    padding-bottom: 500px;
}

.works{
    margin-top: 70px;
}

.works img{
    float: left;
}

.works img:nth-child(2){
    margin-left: 29px;
}

.works img:last-child{
    float: right;
}


footer{
    text-align: center;
}